@media only screen and (max-width: 500px) {
  body {
    background: none;
    background-color: burlywood;
    overflow: hidden;
  }

  .clock {
    width: 300px;
    height: 300px;
  }
}

/* Testing for add,commit and push */